<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>
<body class="page-{{ page.name | replace: '.md', '' | replace: '.html', '' }}">
  <main class="main-{{ page.name | replace: '.md', '' | replace: '.html', '' }}">
    {{ content }}
    <footer>
      &copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.
    </footer>
  </main>

  <div class="footer-steam">
    <a href="https://store.steampowered.com/app/3392510/Zexion/" target="_blank">
      <span>Wishlist Zexion on Steam!</span>
      <img src="{{ '/assets/iconmonstr-steam-4-white.svg' | relative_url }}" alt="Steam" class="steam-logo">
    </a>
  </div>
  <div id="lightbox" class="lightbox-overlay" aria-hidden="true">
    <img id="lightbox-image" class="lightbox-image" alt="Zoomed screenshot" />
  </div>
  <script src="{{ '/assets/main.js' | relative_url }}"></script>
</body>
</html> 